include ./partials/head
body

  #wrapper

    // The preloader we see before the whole site is loaded
    #preloader.valign-wrapper
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only.actually-black
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle

    // A status spinner to indicate that some process is going on
    #status
      .preloader-wrapper.small.active
        .spinner-layer.spinner-blue-only.actually-green
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle

    // Navigation
    include ./partials/navigation

    // Triangles section hidden
    #triangles.scrollspy
      #output
        .h1-wrapper.valign-wrapper
          .container
            .row
              .col.s12
                // Your company's slogan, feel free to add more tags here
                h1 Muchas gracias por usar Avaritia
          // Action button
          a#explore.btn-floating.btn-large.waves-effect.waves-dark.green.accent-2
            i.mdi-navigation-arrow-forward.indigo-text.text-darken-4

    // Result section
    #result.section.scrollspy
      .container
        .row
          h2 Resultados de esta simulacion
          .col.s12.m10.offset-m1.l8.offset-l2
            p.flow-text.center-align
              a(href='/') Volver a calcular
            p.flow-text.center-align
              | Condiciones de la simulación:
              br
              | Tipo de tasa: !{textotasa}
              br
              | Servicio: !{textoservicio}
              br
              | Ingresos Mensuales: $ !{ingresos}
              br
              | Valor del prestamo: $ !{noprestamo}
              br
              | Cantidad de meses: !{meses}
            p(style='text-align:justify; line-height: 100%; font-size:16px;').flow-text.center-align
              b(style="color: red") Advertencia:&nbsp;
              | Las cifras que se presentan en Avaritia son de caracter informativo,las operaciones que se simulan en esta aplicación
              | son sólo referenciales y no comprometen al sitio ni a un banco en particular. Gracias.
        // RESULT LIST OF BANKS
        ul#bankList.collapsible.popout(data-collapsible='accordion')
          - each item in banks
            li(id=item._id)
              .collapsible-header
                i.material-icons business
                | !{item.name}
              .collapsible-body
                .container
                  .row
                    table(id='tabla' +  item._id ).striped.bordered
                      thead
                        tr
                          th(data-field='cuota') Cuota #
                          th(data-field='valor') Valor Cuota
                          th(data-field='interes') Intereses
                          th(data-field='capital') Capital
                          th(data-field='saldo') Saldo Capital
    // Services section
    include ./partials/services

    .container
      .divider

    // Works section
    include ./partials/works

    .container
      .divider

    // Contact form section
    include ./partials/contact

    // Footer
    include ./partials/footer

  // Scripts
  include ./partials/scripts
  script.
    // Render collapsible
    $(document).ready(function () {
      $('.collapsible').collapsible({
        accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      });
    });
    // Load Ajax every collapsible
    $('body').on('click', '.collapsible-header', function (event) {
      console.log('click en el collapsible');

      var target = event.target.nodeName;
      console.log(target);

      var a = $(this).parent();
      console.log($(a[0]).attr('id'));
      var idbanco = $(a[0]).attr('id');
      // Ajax cargar datos de la tabla
      $.ajax({
        url: "!{urlAPI}/simulations",
        dataType: 'json',
        method: 'POST',
        data: {
            prestamo: !{prestamo},
            meses: !{meses},
            idBanco: idbanco,
            idServicio: '!{idservicio}',
            idTasa: '!{idtasa}'
        },
        success: function (data, status) {
          //return console.log("The returned data", data);
          var trHTML = '';
          $.each(data, function (i, item) {
            trHTML += '<tr><td>' + item.cuotanum + '</td><td>' + item.cuotafija + '</td><td>' + item.intereses +
                    '</td><td>' + item.capital + '</td><td>' + item.saldo + '</td></tr>';
          });
          $('#tabla'+idbanco + ' > tbody').html("");
          $('#tabla'+idbanco).append(trHTML);

        },
        crossDomain: true,
        beforeSend: function (xhr, settings) {
          xhr.setRequestHeader('Authorization', 'Bearer !{tokentemp}');
        }
      });
    });

